@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 120, 1, 22;
    --color-secondary: 247, 181, 56;
    --color-secondary-light: 219, 124, 38;
    --color-secondary-dark: 216, 87, 42;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #606060;
  background-color: #ececec;
  min-height: 100vh;
  min-width: 100vw;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleUp {
  from { transform: scale(0.95); }
  to { transform: scale(1); }
}

@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.animate-scaleUp {
  animation: scaleUp 0.5s ease-in-out;
}

.animate-pulse {
  animation: pulse 2s infinite;
}

