@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

@layer base {
  :root {
    --color-primary: 120, 1, 22;
    --color-secondary: 247, 181, 56;
    --color-secondary-light: 219, 124, 38;
    --color-secondary-dark: 216, 87, 42;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #606060;
  background-color: #ececec;
  min-height: 100vh;
  min-width: 100vw;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleUp {
  from { transform: scale(0.95); }
  to { transform: scale(1); }
}

@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.animate-scaleUp {
  animation: scaleUp 0.5s ease-in-out;
}

.animate-pulse {
  animation: pulse 2s infinite;
}

.selected {
  @apply scale-105 shadow-lg z-10 relative;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: none; /* This explicitly removes blur */
}

.blur {
  @apply blur-sm transition-all duration-300 ease-in-out;
}

/* Custom classes for the login page */
@layer components {
  .login-button {
    @apply py-2 px-6 bg-white rounded-full shadow-md hover:bg-gray-100 text-red-500 font-bold transition-colors;
  }

  .statistic-text {
    @apply text-3xl font-semibold;
  }

  .statistic-label {
    @apply text-white;
  }

  .login-heading {
    @apply text-4xl md:text-5xl font-bold text-white mb-4;
  }

  .login-subheading {
    @apply text-xl md:text-2xl text-white mb-8;
  }

  .login-container {
    @apply flex flex-col items-center justify-center w-full min-h-screen bg-blue-500 p-4;
  }

  .statistic-container {
    @apply flex flex-wrap justify-around items-center w-full mt-8;
  }
}

@keyframes float {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(-100%);
  }
}
